* {
    box-sizing: border-box;
}

div {
    padding: 10px;
    background:darkslategrey;

}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}


.row{

    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}


.yellow:last-child, .yellow:first-child {
    max-width: 75%;
}

.yellow:nth-child(2), .yellow:nth-child(3) {
    max-width: 25%;
}
.blue{
    max-width: 50%;
}
.pink{
    max-width: 100%;
}
.blockY{
    background: yellow;
}
.blockB{
    background: blue;
}
.pink{
    background: deeppink;
}

@media (max-width: 540px),(min-width: ){
    .yellow:last-child, .yellow:first-child {
        max-width: 100%;
    }

    .yellow:nth-child(2), .yellow:nth-child(3) {
        max-width: 100%;
    }
    .blue{
        max-width:100%;

    }
    .pink{
        max-width: 100%;
    }

}